<header>
  <nav>
    <ul>
      <h3>Navigation</h3>
      <li>
        <a href="/">Home</a></li>
      <li>
        <a href="/recipes">View All Recipes</a>
      </li>
      <li>
        <a href="/recipes/new" style="color: red; font-weight: bold">Create a New Recipe</a>
      </li>
    </ul>
  </nav>
</header>

<h1>Recipes on Recipes!</h1>
<h2>Add your own recipe</h2>
<p>Build a handy form to create a recipe in the database!</p>
