<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All Recipes</title>
</head>
<body>
  <%@recipes.each do |recipe_hash|%>
    <h2>Name: <%=recipe_hash[:name]%></h2>
    <p>Ingredients: <%=recipe_hash[:ingredients]%></p>
    <p>Cooking Time: <%=recipe_hash[:cook_time]%></p>
  <%end%>
</body>
</html>