<form action="/recipes" method="post">
  <p><input name="name" placeholder="name"></p>
  <p><input name="ingredients" placeholder="ingredients"></p>
  <p><input name="cook_time" placeholder="cook_time" type="integer"></p>
  <input type="submit" value="submit"/>
</form>
